/*
 *
 * PORTFOLIO STYLING / 2022
 *
 * Notes!
 * ~ No partials because this is a temp one-pager design
 * ~ SCSS structure will map to @imports when ready
 *
*/
.visiblyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@font-face {
  font-family: "Basis Grotesque Web";
  src: url("fonts/basis-grotesque-regular.eot");
  src: url("fonts/basis-grotesque-regular.eot?#iefix") format("embedded-opentype"), url("fonts/basis-grotesque-regular.woff2") format("woff2"), url("fonts/basis-grotesque-regular.woff") format("woff"), url("fonts/basis-grotesque-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Self Modern";
  src: url("fonts/self-modern_regular_web.woff2") format("woff2"), url("fonts/self-modern_regular_web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Self Modern";
  src: url("fonts/self-modern_italic_web.woff2") format("woff2"), url("fonts/self-modern_italic_web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
.text-accent, .text-serif {
  font-family: "Self Modern";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.075rem;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Basis Grotesque Web";
  line-height: 1.3;
  font-kerning: normal;
  letter-spacing: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.text-sans {
  font-family: "Basis Grotesque Web";
  letter-spacing: -0.025rem;
}

.text-accent {
  font-style: italic;
}

.no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-center-responsive {
  text-align: left;
}
@media (min-width: 56rem) {
  .text-center-responsive {
    text-align: center;
  }
}

.text-xs {
  font-size: 0.75rem;
}
@media (min-width: 48rem) {
  .text-xs {
    font-size: 1rem;
  }
}

.text-s {
  font-size: 1.333rem;
}
@media (min-width: 48rem) {
  .text-s {
    font-size: 1.777rem;
  }
}

.text-m {
  font-size: 1.777rem;
}
@media (min-width: 48rem) {
  .text-m {
    font-size: 2.369rem;
  }
}
@media (min-width: 56rem) {
  .text-m {
    font-size: 3.157rem;
  }
}

.text-l {
  font-size: 5.61rem;
}
@media (min-width: 48rem) {
  .text-l {
    font-size: 5.61rem;
  }
}
@media (min-width: 56rem) {
  .text-l {
    font-size: 5.61rem;
  }
}

p {
  font-size: 1.777rem;
  margin: 0;
  padding: 0;
}
p.text-m {
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.777rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  border-bottom: 0.1rem dotted black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
ul li {
  margin-bottom: 0.15rem;
}

.bg-primary {
  background-color: #ffffff;
}

.bg-dark {
  background-color: #000000;
  color: #ffffff;
}

.text-reverse {
  color: #ffffff;
}

.text-muted {
  color: #777777;
}

footer {
  overflow-x: hidden;
}

.vspace-clear {
  padding-top: 0;
  padding-bottom: 0;
}

.vspace-base {
  padding: 3rem 0;
}

.vspace-quarter {
  padding: 0.6rem 0;
}

.vspace-half {
  padding: 1.8rem 0;
}

.vspace-double {
  padding: 5.7rem 0;
}

.vspace-triple {
  padding: 3rem 0;
}
@media (min-width: 48rem) {
  .vspace-triple {
    padding: 8.4rem 0;
  }
}

.vspace-base-top {
  padding-top: 3rem;
}

.vspace-base-bottom {
  padding-bottom: 3rem;
}

.vspace-quarter-top {
  padding-top: 0.6rem;
}

.vspace-quarter-bottom {
  padding-bottom: 0.6rem;
}

.vspace-half-top {
  padding-top: 1.8rem;
}

.vspace-half-bottom {
  padding-bottom: 1.8rem;
}

.vspace-double-top {
  padding-top: 3rem;
}
@media (min-width: 48rem) {
  .vspace-double-top {
    padding-top: 5.7rem;
  }
}

.vspace-double-bottom {
  padding-bottom: 3rem;
}
@media (min-width: 48rem) {
  .vspace-double-bottom {
    padding-bottom: 5.7rem;
  }
}

.vspace-triple-top {
  padding-top: 3rem;
}
@media (min-width: 48rem) {
  .vspace-triple-top {
    padding-top: 8.4rem;
  }
}

.vspace-triple-bottom {
  padding-bottom: 3rem;
}
@media (min-width: 48rem) {
  .vspace-triple-bottom {
    padding-bottom: 8.4rem;
  }
}

header, section, footer, .wrapper-large {
  padding: 1.8rem;
  margin: 0 auto;
}
@media (min-width: 56rem) {
  header, section, footer, .wrapper-large {
    padding: 3rem;
  }
}

.wrapper-medium {
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .wrapper-medium {
    width: 68rem;
  }
}

.wrapper-small {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 64rem) {
  .wrapper-small {
    width: 52rem;
  }
}

.wrapper-img {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0.6rem;
}
@media (min-width: 56rem) {
  .wrapper-img {
    margin: auto;
    padding-bottom: 1.8rem;
  }
}
.wrapper-img.wrapper-img-padded {
  padding-left: 15%;
  padding-right: 15%;
}
@media (min-width: 56rem) {
  .wrapper-img.wrapper-img-padded {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.wrapper-img.wrapper-img-full {
  padding-left: 0;
  padding-right: 0;
}
.wrapper-img.clear-padding {
  padding-bottom: 0;
}
.wrapper-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.wrapper-img img.image-small {
  max-width: 16rem;
}
@media (min-width: 56rem) {
  .wrapper-img img.image-small {
    max-width: 22rem;
  }
}

/*# sourceMappingURL=main.css.map */
