/*
 *
 * PORTFOLIO STYLING / 2022
 *
 * Notes!
 * ~ No partials because this is a temp one-pager design
 * ~ SCSS structure will map to @imports when ready
 *
*/

// --------------------------------------------------------- *
//
//
// 00   MAIN
//      ~ Output file (@import partials here)
//
//      01 CSS Reset --> merge later, using separate CSS resource for now
//      02 Utils
//      03 Base
//      04 Layout
//
//
// --------------------------------------------------------- *

@charset "UTF-8";

// --------------------------------------------------------- *
//
//
// 02   UTILS
//      ~ Global mixins, functions, variables, etc
//
//
// --------------------------------------------------------- *

// The responsive approach here is weird?
// ~ Default CSS attributes are defined at the SMALLEST screen size
// ~ Any style overrides via media query apply to LARGER screens

@mixin breakpoint($point) {

  @if $point == ultralarge {
      @media (min-width: 120rem) { @content ; }
  } // 1920px

  @else if $point == extralarge {
      @media (min-width: 90rem) { @content ; }
  } // 1440px

  @else if $point == large {
      @media (min-width: 80rem) { @content ; }
  } // 1280px

  @else if $point == desktop {
       @media (min-width: 64rem) { @content ; }
  } // 1024px

  @else if $point == tablet {
       @media (min-width: 56rem) { @content ; }
  } // 900px -- tablet

  @else if $point == mobile-landscape {
       @media (min-width: 48rem) { @content ; }
  } // 767px -- mobile landscape

  @else if $point == mobile-portrait {
       @media (min-width: 30rem) { @content ; }
  } // 478px -- mobile portrait

}

// --------------------------------------------------------- /
// Global helper classes
// --------------------------------------------------------- /

// Hide element while making it readable for screen readers
// ~ From HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate

.visiblyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// --------------------------------------------------------- /
// Variables: Vertical spacing
// --------------------------------------------------------- /

$vspace-unit: 4rem;
$vertical-rhythm-base: $vspace-unit;
$vertical-rhythm-quarter: $vspace-unit * 0.2;
$vertical-rhythm-half: $vspace-unit * 0.6;
$vertical-rhythm-double: $vspace-unit * 1.9;
$vertical-rhythm-triple: $vspace-unit * 2.8;



// --------------------------------------------------------- /
// Variables: Colors and borders
// --------------------------------------------------------- /

$primary-color: #000000;
$surface-color: #ffffff;
$surface-color-reverse: #000000;
$text-color: #000000;
$text-color-reverse: #ffffff;
$highlight-color: blue;
$border: 0.21rem solid rgba($text-color, 1);
$border-reverse: 0.21rem solid rbga($text-color-reverse, 1);


// --------------------------------------------------------- /
// Variables: Type scale (major third)
// --------------------------------------------------------- /

$text-size-1: 5.96rem;
$text-size-2: 4.768rem;
$text-size-3: 3.815rem;
$text-size-4: 3.052rem;
$text-size-5: 2.441rem;
$text-size-6: 1.953rem;
$text-size-7: 1.563rem;
$text-size-8: 1.25rem;
$text-size-9: 1rem;
$text-size-10: 0.8rem; //caption
$indent: $vspace-unit*.5;


// --------------------------------------------------------- *
//
//
// 03   BASE
//      ~ Global base styles: type and color
//
//
// --------------------------------------------------------- *



// --------------------------------------------------------- /
// Web fonts! @font-face declarations
// --------------------------------------------------------- /

@font-face {
  font-family: 'Basis Grotesque Web';
  src: url('fonts/basis-grotesque-regular.eot');
  src: url('fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/basis-grotesque-regular.woff2') format('woff2'),
       url('fonts/basis-grotesque-regular.woff') format('woff'),
       url('fonts/basis-grotesque-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Expanded Medium';
  src: url('fonts/GT-America-Expanded-Medium.woff2') format('woff2'),
       url('fonts/GT-America-Expanded-Medium.woff') format('woff'),;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Self Modern';
  src:  url('fonts/self-modern_regular_web.woff2') format('woff2'),
        url('fonts/self-modern_regular_web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Self Modern';
  src:  url('fonts/self-modern_italic_web.woff2') format('woff2'),
        url('fonts/self-modern_italic_web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}


$serif: 'Self Modern';
$sans-serif: 'Basis Grotesque Web';
$display: 'GT America Expanded Medium';

%serif {
  font-family: 'Self Modern';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.1rem;
}

%display {
  font-family: $display;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  font-feature-settings: 'ss05';

}



html {
  font-size: 14px;
  @include breakpoint(mobile-portrait) { font-size: 16px; }
}

body {
  background-color: $surface-color;
  color: $text-color;
  font-family: $sans-serif;
  line-height: 1.2;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


// --------------------------------------------------------- /
// Theme: Typography
// --------------------------------------------------------- /


// Global text helper classes
.text-sans { font-family: $sans-serif; }
.text-serif { @extend %serif; }
.text-indent {
  text-indent: $indent*0.6;
  @include breakpoint(mobile-landscape) { text-indent: $indent; }
}
.no-wrap { white-space: nowrap; }
.uppercase { text-transform: uppercase; }
.text-center { text-align: center; }
.text-center-responsive {
  text-align: left;
  @include breakpoint(tablet) { text-align: center; } // only centered on large screens
}


.text-xs, %text-xs {
    font-size: $text-size-9;
    //@include breakpoint(mobile-portrait) { font-size: inherit; }
    @include breakpoint(mobile-landscape) { font-size: $text-size-8; }
    //@include breakpoint(tablet) { font-size: inherit; }
    //@include breakpoint(desktop) { font-size: inherit; }
    //@include breakpoint(large) { font-size: inherit; }
 }

.text-s, %text-s {
    font-size: $text-size-7;
    @include breakpoint(mobile-portrait) { font-size: $text-size-6; }
    @include breakpoint(mobile-landscape) { font-size: $text-size-5; }
    @include breakpoint(tablet) { font-size: $text-size-4; }
    //@include breakpoint(desktop) { font-size: inherit; }
    //@include breakpoint(large) { font-size: inherit; }
 }

.text-m, %text-m {
   font-size: $text-size-5;
   //@include breakpoint(mobile-portrait) { font-size: $text-size-4; }
   @include breakpoint(mobile-landscape) { font-size: $text-size-4; }
   @include breakpoint(tablet) { font-size: $text-size-3; }
   //@include breakpoint(desktop) { font-size: inherit; }
   //@include breakpoint(large) { font-size: inherit; }
   @include breakpoint(extralarge) { font-size: $text-size-2; }
}

.text-l, %text-l {
   font-size: $text-size-4;
   //@include breakpoint(mobile-portrait) { font-size: inherit; }
   @include breakpoint(mobile-landscape) { font-size: $text-size-2; }
   @include breakpoint(tablet) { font-size: $text-size-1; }
   //@include breakpoint(desktop) { font-size: inherit; }
   //@include breakpoint(large) { font-size: inherit; }
}

p {
  font-size: $text-size-7;
  margin: 0;
  padding: 0;

  &.text-m { line-height: 1.05; }

  //@include breakpoint(mobile-portrait) { font-size: inherit; }
  //@include breakpoint(mobile-landscape) { font-size: inherit; }
  @include breakpoint(tablet) { font-size: $text-size-5; }
  //@include breakpoint(desktop) { font-size: inherit; }
  //@include breakpoint(large) { font-size: inherit; }
}

h1 {
  font-size: $text-size-5;
  @extend %display;
  margin-bottom: $vertical-rhythm-quarter;
  @include breakpoint(tablet) { margin-bottom: $vertical-rhythm-half; }

  @include breakpoint(mobile-portrait) { font-size: $text-size-4; }
  @include breakpoint(mobile-landscape) { font-size: $text-size-2; }
  @include breakpoint(tablet) { font-size: $text-size-1; }
  //@include breakpoint(desktop) { font-size: inherit; }
  //@include breakpoint(large) { font-size: inherit; }
}


a {
  color: inherit;
  text-decoration: none;
  border-bottom: $border;

  &:hover {
    background-color: $surface-color-reverse;
    color: $text-color-reverse;
  }
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: $text-size-7;
  //@include breakpoint(mobile-portrait) { font-size: inherit; }
  //@include breakpoint(mobile-landscape) { font-size: inherit; }
  @include breakpoint(tablet) { font-size: $text-size-5; }
  //@include breakpoint(desktop) { font-size: inherit; }
  //@include breakpoint(large) { font-size: inherit; }

  &.simple {
    margin-left: $indent*0.6;
    li a { border-bottom: none; line-height: 1.25;}
    @include breakpoint(mobile-landscape) { margin-left: $indent; }
  }

  &.horizontal {
    display: inline-block;

    li {
      float: left;
      width: 100%;
      margin-right: 0.25rem;
      margin-bottom: 0.5rem;
      @include breakpoint(desktop) {
        margin-bottom: 0.75rem;
        width: auto;
      }

      &.break {
        @include breakpoint(desktop) { margin-right: 10rem; }
      }
    }
  }

}


// Special style: hyperlinks with oval outlines
a.outlined {
  display:inline-block;
  padding: 0.2rem 1rem 0.4rem;
  @extend %serif;
  font-size: $text-size-6;
  font-style: italic;
  border: 0.125rem solid $text-color;
  border-radius: 15rem;

  @include breakpoint(mobile-landscape) {
    border: 0.175rem solid $text-color;
    font-size: $text-size-4;
  }

  @include breakpoint(tablet) {
    border: 0.215rem solid $text-color;
    font-size: $text-size-3;
  }

}

// Special style: show+hide info button
button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  border-bottom: $border;
  color: $text-color;

  &:hover, &.active {
    cursor: pointer;
    background-color: $surface-color-reverse;
    color: $text-color-reverse;
  }
}



// --------------------------------------------------------- /
// Theme: Color and styling
// --------------------------------------------------------- /


.bg-primary { background-color: $surface-color; }
.bg-dark { background-color: $surface-color-reverse; color: $text-color-reverse; }
.text-reverse { color: $text-color-reverse; }
.text-muted { color: rgba($text-color-reverse, 0.7); }



// --------------------------------------------------------- /
// Novelty: Marquee effect
// --------------------------------------------------------- /

$marquee-speed: 30s;
$marquee-x-pos-start: 90%;
$marquee-x-pos-end: -100%;


p.marquee-content {
  color: rgba($text-color-reverse, 0.7);

  @include breakpoint(desktop) {
    -moz-animation: marquee $marquee-speed linear infinite;
    -webkit-animation: marquee $marquee-speed linear infinite;
    animation: marquee $marquee-speed linear infinite;
  }
}


@-moz-keyframes marquee {
  0% { transform: translateX($marquee-x-pos-start); }
  100% { transform: translateX($marquee-x-pos-end); }
}

@-webkit-keyframes marquee {
  0% { transform: translateX($marquee-x-pos-start); }
  100% { transform: translateX($marquee-x-pos-end); }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX($marquee-x-pos-start);
    -webkit-transform: translateX($marquee-x-pos-start);
    transform: translateX($marquee-x-pos-start);
  }
  100% {
    -moz-transform: translateX($marquee-x-pos-end);
    -webkit-transform: translateX($marquee-x-pos-end);
    transform: translateX($marquee-x-pos-end);
  }
}



// --------------------------------------------------------- *
//
//
// 04   LAYOUT
//      ~ Page structure + header, footer, etc
//
//
// --------------------------------------------------------- *


// --------------------------------------------------------- /
// Layout: Container props & vertical rhythm
// --------------------------------------------------------- /

footer { overflow-x: hidden; }

.vspace-clear { padding-top: 0; padding-bottom: 0;}
.vspace-base { padding: $vertical-rhythm-base 0; }
.vspace-quarter { padding: $vertical-rhythm-quarter 0; }
.vspace-half { padding: $vertical-rhythm-half 0; }
.vspace-double { padding: $vertical-rhythm-double 0; }


.vspace-triple {
  padding: $vertical-rhythm-base 0;
  @include breakpoint(mobile-landscape) { padding: $vertical-rhythm-triple 0; }
}

.vspace-base-top { padding-top: $vertical-rhythm-base; }
.vspace-base-bottom { padding-bottom: $vertical-rhythm-base; }
.vspace-quarter-top { padding-top: $vertical-rhythm-quarter; }
.vspace-quarter-bottom { padding-bottom: $vertical-rhythm-quarter; }
.vspace-half-top { padding-top: $vertical-rhythm-half; }
.vspace-half-bottom { padding-bottom: $vertical-rhythm-half; }


.vspace-double-top {
  padding-top: $vertical-rhythm-base;
  @include breakpoint(mobile-landscape) { padding-top: $vertical-rhythm-double; }
}

.vspace-double-bottom {
  padding-bottom: $vertical-rhythm-base;
  @include breakpoint(mobile-landscape) { padding-bottom: $vertical-rhythm-double; }
}

.vspace-triple-top {
  padding-top: $vertical-rhythm-base;
  @include breakpoint(mobile-landscape) { padding-top: $vertical-rhythm-triple; }
}

.vspace-triple-bottom {
  padding-bottom: $vertical-rhythm-base;
  @include breakpoint(mobile-landscape) { padding-bottom: $vertical-rhythm-triple;  }
}

header, section, footer, .wrapper-large {
  padding: $vertical-rhythm-half $vertical-rhythm-quarter;
  margin: 0 auto;

  @include breakpoint(mobile-landscape) { padding: $vertical-rhythm-half; }
}


.wrapper-medium {
  margin: 0 auto;
  @include breakpoint(large) { width: 68rem; }
}

.wrapper-small {
  margin: 0 auto;
  width: 100%;
  @include breakpoint(desktop) { width: 52rem; }
}




.wrapper-img {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: $vertical-rhythm-quarter;
  @include breakpoint(tablet) {
    margin: auto;
    padding-bottom: $vertical-rhythm-half;
   }

  &.wrapper-img-padded {
    padding-left: 15%;
    padding-right: 15%;
    @include breakpoint(tablet) {
      padding-left: 25%;
      padding-right: 25%;
     }

  }
  &.wrapper-img-full { padding-left: 0; padding-right: 0; }
  &.clear-padding { padding-bottom: 0; }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &.image-small {
      max-width: 16rem;

      @include breakpoint(tablet) { max-width: 22rem; }
    }
  }
}
