/*
 *
 * PORTFOLIO STYLING / 2022
 *
 * Notes!
 * ~ No partials because this is a temp one-pager design
 * ~ SCSS structure will map to @imports when ready
 *
*/
.visiblyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@font-face {
  font-family: "Basis Grotesque Web";
  src: url("fonts/basis-grotesque-regular.eot");
  src: url("fonts/basis-grotesque-regular.eot?#iefix") format("embedded-opentype"), url("fonts/basis-grotesque-regular.woff2") format("woff2"), url("fonts/basis-grotesque-regular.woff") format("woff"), url("fonts/basis-grotesque-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT America Expanded Medium";
  src: url("fonts/GT-America-Expanded-Medium.woff2") format("woff2"), url("fonts/GT-America-Expanded-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Self Modern";
  src: url("fonts/self-modern_regular_web.woff2") format("woff2"), url("fonts/self-modern_regular_web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Self Modern";
  src: url("fonts/self-modern_italic_web.woff2") format("woff2"), url("fonts/self-modern_italic_web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
a.outlined, .text-serif {
  font-family: "Self Modern";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.1rem;
}

h1 {
  font-family: "GT America Expanded Medium";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  font-feature-settings: "ss05";
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Basis Grotesque Web";
  line-height: 1.2;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.text-sans {
  font-family: "Basis Grotesque Web";
}

.text-indent {
  text-indent: 3rem;
}

.no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-center-responsive {
  text-align: left;
}
@media (min-width: 56rem) {
  .text-center-responsive {
    text-align: center;
  }
}

.text-xs {
  font-size: 1.25rem;
}

p, ul {
  font-size: 1.563rem;
}

.text-s, .text-m {
  font-size: 2.441rem;
}

.text-l, h1, h2, h3 {
  font-size: 3.815rem;
}

@media (min-width: 48rem) {
  .text-m {
    font-size: 3.052rem;
  }
}

@media (min-width: 48rem) {
  .text-l, h1, h2, h3 {
    font-size: 4.768rem;
  }
}

@media (min-width: 56rem) {
  .text-xs {
    font-size: 1.25rem;
  }
}

@media (min-width: 56rem) {
  p, ul {
    font-size: 2.441rem;
  }
}

@media (min-width: 56rem) {
  .text-s {
    font-size: 3.052rem;
  }
}

@media (min-width: 56rem) {
  .text-m {
    font-size: 3.815rem;
  }
}

@media (min-width: 56rem) {
  .text-l, h1 {
    font-size: 5.96rem;
  }
}

@media (min-width: 90rem) {
  .text-m {
    font-size: 4.768rem;
  }
}

h1 {
  margin-bottom: 0.8rem;
}
@media (min-width: 56rem) {
  h1 {
    margin-bottom: 2.4rem;
  }
}

p {
  margin: 0;
  padding: 0;
}
p.text-m {
  line-height: 1.05;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.21rem solid black;
}
a:hover {
  background-color: #000000;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.simple {
  margin-left: 3rem;
}
ul.simple li a {
  border-bottom: none;
}
ul.horizontal {
  display: inline-block;
}
ul.horizontal li {
  float: left;
  width: 100%;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 64rem) {
  ul.horizontal li {
    margin-bottom: 0.75rem;
    width: auto;
  }
}
@media (min-width: 64rem) {
  ul.horizontal li.break {
    margin-right: 10rem;
  }
}

a.outlined {
  display: inline-block;
  border: 0.175rem solid #000000;
  font-style: italic;
  border-radius: 15rem;
  padding: 0.2rem 1.2rem 0.4rem;
}
@media (min-width: 56rem) {
  a.outlined {
    border: 0.215rem solid #000000;
  }
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  border-bottom: 0.21rem solid black;
  color: #000000;
}
button:hover, button.active {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.bg-primary {
  background-color: #ffffff;
}

.bg-dark {
  background-color: #000000;
  color: #ffffff;
}

.text-reverse {
  color: #ffffff;
}

.text-muted {
  color: rgba(255, 255, 255, 0.7);
}

p.marquee-content {
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 64rem) {
  p.marquee-content {
    -moz-animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(90%);
    -webkit-transform: translateX(90%);
    transform: translateX(90%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
footer {
  overflow-x: hidden;
}

.vspace-clear {
  padding-top: 0;
  padding-bottom: 0;
}

.vspace-base {
  padding: 4rem 0;
}

.vspace-quarter {
  padding: 0.8rem 0;
}

.vspace-half {
  padding: 2.4rem 0;
}

.vspace-double {
  padding: 7.6rem 0;
}

.vspace-triple {
  padding: 8.4rem 0;
}
@media (min-width: 56rem) {
  .vspace-triple {
    padding: 11.2rem 0;
  }
}

.vspace-base-top {
  padding-top: 4rem;
}

.vspace-base-bottom {
  padding-bottom: 4rem;
}

.vspace-quarter-top {
  padding-top: 0.8rem;
}

.vspace-quarter-bottom {
  padding-bottom: 0.8rem;
}

.vspace-half-top {
  padding-top: 2.4rem;
}

.vspace-half-bottom {
  padding-bottom: 2.4rem;
}

.vspace-double-top {
  padding-top: 5.7rem;
}
@media (min-width: 56rem) {
  .vspace-double-top {
    padding-top: 7.6rem;
  }
}

.vspace-double-bottom {
  padding-bottom: 5.7rem;
}
@media (min-width: 56rem) {
  .vspace-double-bottom {
    padding-bottom: 7.6rem;
  }
}

.vspace-triple-top {
  padding-top: 8.4rem;
}
@media (min-width: 56rem) {
  .vspace-triple-top {
    padding-top: 11.2rem;
  }
}

.vspace-triple-bottom {
  padding-bottom: 8.4rem;
}
@media (min-width: 56rem) {
  .vspace-triple-bottom {
    padding-bottom: 11.2rem;
  }
}

header, section, footer, .wrapper-large {
  padding: 2.4rem 0.8rem;
  margin: 0 auto;
}
@media (min-width: 56rem) {
  header, section, footer, .wrapper-large {
    padding: 2.4rem;
  }
}

.wrapper-medium {
  margin: 0 auto;
}
@media (min-width: 80rem) {
  .wrapper-medium {
    width: 68rem;
  }
}

.wrapper-small {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 64rem) {
  .wrapper-small {
    width: 52rem;
  }
}

.wrapper-img {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0.8rem;
}
@media (min-width: 56rem) {
  .wrapper-img {
    margin: auto;
    padding-bottom: 2.4rem;
  }
}
.wrapper-img.wrapper-img-padded {
  padding-left: 15%;
  padding-right: 15%;
}
@media (min-width: 56rem) {
  .wrapper-img.wrapper-img-padded {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.wrapper-img.wrapper-img-full {
  padding-left: 0;
  padding-right: 0;
}
.wrapper-img.clear-padding {
  padding-bottom: 0;
}
.wrapper-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.wrapper-img img.image-small {
  max-width: 16rem;
}
@media (min-width: 56rem) {
  .wrapper-img img.image-small {
    max-width: 22rem;
  }
}

/*# sourceMappingURL=main.css.map */
