// -----------------------------------------------------

// SETUP

@charset "UTF-8";

@font-face {
    font-family: 'Basis Grotesque Web';
    src: url('fonts/basis-grotesque-regular.eot');
    src: url('fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/basis-grotesque-regular.woff2') format('woff2'),
         url('fonts/basis-grotesque-regular.woff') format('woff'),
         url('fonts/basis-grotesque-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Basis Grotesque Black Web';
    src: url('fonts/basis-grotesque-black-italic.eot');
    src: url('fonts/basis-grotesque-black-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/basis-grotesque-black-italic.woff2') format('woff2'),
         url('fonts/basis-grotesque-black-italic.woff') format('woff'),
         url('fonts/basis-grotesque-black-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
font-family: 'Canela Web';
src: url('fonts/Canela-Thin-Web.woff2') format('woff2'),
url('fonts/Canela-Thin-Web.woff') format('woff');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}

// -----------------------------------------------------


@mixin breakpoint($point) {

  @if $point == large {
      @media (min-width: 80em) { @content ; }
  }

  @else if $point == medium {
       @media (min-width: 48em) { @content ; }
  }

  @else if $point == small {
       @media (min-width: 36em) { @content ; }
  }

}

// ----------------------------------------------------- THEME




// THEME: Colors

//$primary-color: #ffddc9; //peach
$primary-color: #fee8d3; //cream
//$primary-color-lt: #fff8f0;
$primary-color-lt: #fff6ec;
$primary-color-dk: #ff9c93;
$neutral-color: #fbf7f4;
$neutral-color-lt: #fbfafa;
$text-color: #0e0e0e;
$body-color: white;
$highlight-color: #ffd7c0;
$border: 2px dotted rgba($text-color, 1);

.bg-neutral-lt { background-color: $neutral-color-lt; }
.bg-neutral { background-color: $neutral-color; }
.bg-primary-lt { background-color: $primary-color-lt; }
.bg-primary { background-color: $primary-color; }
.bg-dark { background-color: $text-color; }
.border-top { border-top: $border;}
.text-reverse { color: #ffffff;}



// THEME: Type
$serif: 'Canela Web';
$sans-serif: 'Basis Grotesque Web';
$sans-serif-display: 'Basis Grotesque Black Web';

// VARIABLES: Layout
$vspace-unit: 3rem;
$vertical-rhythm-base: $vspace-unit;
$vertical-rhythm-relaxed: $vspace-unit * 2.4;
$vertical-rhythm-tight: $vspace-unit/2;

// VARIABLES: Typography
%serif { font-family: 'Canela Web'; font-weight: 100; font-style: normal; font-stretch: normal; }

$text-size-0: 7.993rem;
$text-size-1: 5.653rem;
$text-size-2: 3.998rem;
$text-size-3: 2.827rem;
$text-size-4: 1.999rem;
$text-size-5: 1.414rem;
$text-size-6: 1rem;
$text-size-7: 0.707rem;


// -----------------------------------------------------

// Typography Globals

html {
  font-size: 14px;
  @include breakpoint(medium) { font-size: 16px; }
}

body {
  background-color: $body-color;
  color: $text-color;
  font-family: $sans-serif;
  font-kerning: normal;
}

// Text sizes

h1, h2, h3,
.text-xxl,
.text-xl,
.text-l {
  font-size: $text-size-3;
  line-height: 1.24;
  @include breakpoint(small) { font-size: $text-size-2; }
}

.text-xxl {
  @include breakpoint(medium) { font-size: $text-size-0; }
}

.text-xl {
  @include breakpoint(medium) { font-size: $text-size-1; }
}

.text-l, h1 {
  @include breakpoint(medium) { font-size: $text-size-2; }
}

.text-m { font-size: $text-size-3; }
.text-s { font-size: $text-size-5; }
.text-xs { font-size: $text-size-6; }



h1 {
  @extend %serif;
  margin-bottom: $vertical-rhythm-tight;
}

p {
  margin: 0;
  padding: 0;
  font-size: $text-size-5;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: $border;

  &:hover {
    background-color: $highlight-color;
    color: $text-color;
    border-bottom: none;
  }
}

// Text helper classes
.text-sans { font-family: $sans-serif; }
.text-sans-display { font-family: $sans-serif-display; }
.text-serif { @extend %serif; }
.text-indent { text-indent: $vspace-unit*.75;}
.text-bottom-margin { margin-bottom: $vertical-rhythm-relaxed; }
.uppercase { text-transform: uppercase; }
.text-center { text-align: center;}
.text-center-responsive {
  text-align: left;
  @include breakpoint(medium) { text-align: center; }
}


// -----------------------------------------------------
// Structure


header, section, footer {
  padding: 0;
  margin: 0 auto;
  padding-top: $vertical-rhythm-tight;
  padding-bottom: $vertical-rhythm-tight;
}



.wrapper-full,
.wrapper-wide,
.wrapper-normal,
.wrapper-narrow {
  padding: $vertical-rhythm-base $vertical-rhythm-tight;
  margin: 0 auto;
  max-width: 80rem;

}


.vspace-relaxed,
.vspace-tight {
  padding-top: $vertical-rhythm-base;
  padding-bottom: $vertical-rhythm-base;
}

.vspace-relaxed-top { padding-top: $vertical-rhythm-base; }
.vspace-relaxed-bottom { padding-bottom: $vertical-rhythm-base; }

.vspace-clear { padding-top: 0; padding-bottom: 0;}



.vspace-relaxed {
  @include breakpoint(medium) { padding-top: $vertical-rhythm-relaxed; padding-bottom: $vertical-rhythm-relaxed; }
}

.vspace-relaxed-top {
  @include breakpoint(medium) { padding-top: $vertical-rhythm-relaxed; }
}

.vspace-relaxed-bottom {
  @include breakpoint(medium) { padding-bottom: $vertical-rhythm-relaxed; }
}

.wrapper-wide {
  @include breakpoint(medium) { padding-left: 8%; padding-right: 8%;}
}

.wrapper-normal {
  @include breakpoint(medium) { padding-left: 16%; padding-right: 16%; }
}

.wrapper-narrow {
  @include breakpoint(medium) { padding-left: 22%; padding-right: 22%; }
  @include breakpoint(large) { padding-left: 28%; padding-right: 28%; }
}


section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $vertical-rhythm-base;

  &.illo {
    width: 90%;
    @include breakpoint(medium) { width: 54%; }
  }
  &.stretch { width: 100%; }
  &.blend { mix-blend-mode: darken; }
}

.wrapper-img {
  padding: $vertical-rhythm-base 0;
  padding-top: 0;
  margin-left: $vertical-rhythm-tight;
  margin-right: $vertical-rhythm-tight;
  @include breakpoint(medium) {margin: auto; }
}


// Global Helper Classes

.visiblyhidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
